@charset "UTF-8";
body {
  background-color: rgb(40, 39, 39);
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  background-color: rgb(78, 85, 85);
  height: 115px;
}
header .home-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1% 1% 1% 1%;
}
header .home-title h1 {
  background-color: rgb(81, 53, 57);
  border-radius: 10px;
  padding: 1% 1% 1% 1%;
}
header .home-title h1 a {
  text-decoration: none;
  color: white;
  height: 30px;
}
header .home-title h1 a:hover {
  color: rgb(168, 168, 168);
}
header .home-title .main-nav {
  width: 45%;
  padding: 1% 10px 1% 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
header .home-title .main-nav li {
  list-style: none;
}
header .home-title .main-nav li a {
  font-size: 10px;
  text-decoration: none;
  color: white;
}
header .home-title .main-nav li a:hover {
  color: rgb(168, 168, 168);
}
header .home-title .nav-bar {
  display: none;
}
@media screen and (max-width: 750px) {
  header .home-title .main-nav {
    display: none;
  }
  header .home-title .nav-bar {
    display: flex;
    height: 50px;
  }
  header .home-title .nav-bar:hover {
    background-color: rgb(168, 168, 168);
    cursor: pointer;
  }
}
header .main-nav-mobile {
  display: none;
}
@media screen and (max-width: 750px) {
  header .main-nav-mobile {
    display: none;
  }
  header .main-nav-mobile.show {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    position: relative;
    margin-top: 0;
    margin-left: 0;
    background-color: rgb(78, 85, 85);
    animation: slideDown 0.5s ease;
  }
  @keyframes slideDown {
    from {
      max-height: 0;
      opacity: 0;
    }
    to {
      max-height: 100%;
      opacity: 1;
    }
  }
  header .main-nav-mobile.show li {
    list-style: none;
  }
  header .main-nav-mobile.show li a {
    text-decoration: none;
    color: white;
    font-size: large;
  }
  header .main-nav-mobile.show li a:hover {
    color: rgb(168, 168, 168);
  }
}

footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  width: 100%;
  position: absolute;
  left: 0;
}
footer .social {
  display: flex;
  justify-content: center;
}
footer .twitter-insta {
  display: flex;
}
footer .facebook-linkedin {
  display: flex;
}
footer .github-medium {
  display: flex;
}
@media screen and (max-width: 750px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .phone-email {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  footer .social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  footer .social .twitter-insta {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  footer .social .facebook-linkedin {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  footer .social .github-medium {
    width: 50%;
    display: flex;
    justify-content: space-around;
  }
  footer .social img {
    width: 40px;
  }
}

.main-container {
  margin-top: 115px;
}

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: gray;
  border-radius: 10px;
  margin: 10% 5% 10% 5%;
}
@media screen and (max-width: 750px) {
  .home-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.home-container img {
  max-width: 100%;
  height: 50%;
  border-radius: 20%;
}
@media screen and (max-width: 750px) {
  .home-container img {
    height: 40%;
  }
}
.home-container .ribbon-box {
  position: relative;
  display: inline-block;
  margin-top: -50px;
}
.home-container .ribbon-box img {
  max-width: 100%;
  height: auto;
  display: block;
}
.home-container .ribbon-box h1 {
  position: absolute;
  top: 50%; /* タイトルをリボン画像の中央に配置 */
  left: 50%;
  transform: translate(-50%, -50%); /* タイトルを水平・垂直方向に中央に配置 */
  font-size: 36px;
  color: black;
  margin: 0;
  z-index: 1; /* タイトルをリボン画像の上に表示するためのZインデックス */
}
@media screen and (max-width: 750px) {
  .home-container .ribbon-box h1 {
    font-size: 20px;
  }
}/*# sourceMappingURL=portfolio.css.map */