// breakpoint 750px
$header-color:rgb(78, 85, 85);
$header-link-hover:rgb(168, 168, 168);
$header-link:white;

body{
  background-color: rgb(40, 39, 39);

}
// header
header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    background-color: $header-color;
    height:115px;

    
    .home-title{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1% 1% 1% 1%;
        

        h1{
          background-color: rgb(81, 53, 57);
          border-radius: 10px;
          padding: 1% 1% 1% 1%;
          
          
            a{
                text-decoration:none;
                color:$header-link;
                height:30px;
                &:hover{
                  color:$header-link-hover
                }
            }
        }
        .main-nav{
            width:45%;
            padding:1% 10px 1% 10px;
            display:flex;
            flex-direction: row;
            justify-content: space-between;
            
            li{
                list-style: none;
                a{
                    font-size: 10px;
                    text-decoration: none;
                    color:$header-link;
                    &:hover{
                      color:$header-link-hover;
                    }
                }
            }
        }

        .nav-bar{
          display:none;
        }

        @media screen and (max-width:750px){
          .main-nav{
            display:none;
          }
          .nav-bar{
            display:flex;
            height: 50px;
            &:hover{
              background-color: $header-link-hover;
              cursor: pointer;
            }
          }
        }
    }
    
    .main-nav-mobile{
      display:none;
    } 

    @media screen and (max-width:750px){
      .main-nav-mobile{
        display:none;
        &.show{
          display:flex;
          flex-direction: column;
          justify-content: left;
          text-align: left;
          position: relative;
          margin-top:0;
          margin-left: 0;
          background-color: $header-color;

          animation: slideDown 0.5s ease;
          @keyframes slideDown {
            from {
              max-height: 0;
              opacity: 0;
            }
            to {
              max-height: 100%;
              opacity: 1;
            }
          }
          
          li{
            list-style: none;
            a{
              text-decoration: none;
              color:white;
              font-size:large;
              &:hover{
                color:rgb(168, 168, 168);
              }
            }
          }
        }
      }
   
    }
}





// footer
footer {
    background-color: #f1f1f1;
      text-align: center;
      padding:0 0 0 0;
      margin:0 0 0 0;
      width: 100%;
      position: absolute;
      left:0;

      .social{
        display:flex;
        justify-content: center;
        
      }

      .twitter-insta{
        display: flex;
      }
      .facebook-linkedin{
        display:flex;
      }
      .github-medium{
        display:flex;
      }

      @media screen and (max-width:750px){
        display:flex;
        flex-direction: column;
        justify-content: center;
        .phone-email{
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
        .social{
            display:flex;
            flex-direction:column;
            justify-content: space-between;
            align-items: center;
            width:100%;
            .twitter-insta{
                width:50%;
                display: flex;
                justify-content: space-around;
              }
              .facebook-linkedin{
                width:50%;
                display: flex;
                justify-content: space-around;
              }
              .github-medium{
                width:50%;
                display: flex;
                justify-content: space-around;
              }

            img{
                width:40px;
            }
            
        }
      }
}


// main-container
.main-container{
    margin-top:115px;
}


//home
.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: gray;
  border-radius: 10px;
  margin: 10% 5% 10% 5%;

  @media screen and (max-width:750px){
    padding-top: 0;
    padding-bottom: 0;
  }

  img {
    max-width: 100%;
    height: 50%;
    border-radius: 20%;

    @media screen and (max-width:750px){
      height:40%;
    }
  }

  .ribbon-box {
    position: relative;
    display: inline-block;
    margin-top: -50px; 

    img{
      max-width: 100%;
      height: auto;
      display: block;
    }

    h1 {
      position: absolute;
      top: 50%; /* タイトルをリボン画像の中央に配置 */
      left: 50%;
      transform: translate(-50%, -50%); /* タイトルを水平・垂直方向に中央に配置 */
      font-size: 36px;
      color: black;
      margin: 0;
      z-index: 1; /* タイトルをリボン画像の上に表示するためのZインデックス */

      @media screen and (max-width:750px){
        font-size: 20px;
        
      }
    }    
  }
}


// deliverable
.deliverable-content{
  color:rgb(176, 234, 255);
  margin-left: 5%;
  margin-right: 5%;

  .deliverables{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .deliverable-each{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 5%;

      border-top: 3px double white; /* 上部に3pxの二重線を黒色で設定 */
      border-right: none; /* 右側の境界線は非表示 */
      border-bottom: none; /* 下側の境界線は非表示 */
      border-left: none; /* 左側の境界線は非表示 */

      

      p{
        a{
          text-decoration: none;
          color:white;
          &:hover{
            color:$header-link-hover
          }
        }
      }

      .deliverable-image{
        @media screen and (max-width:750px){
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }

    }
  }
}


//skill page
.skill-certification-content{
  color:palegreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 0;
  margin-right:0;

  
  

  .certification{
    border-bottom: 3px double white; /* 上部に3pxの二重線を黒色で設定 */
      border-right: none; /* 右側の境界線は非表示 */
      border-top: none; /* 下側の境界線は非表示 */
      border-left: none; /* 左側の境界線は非表示 */
      display: flex;
      flex-direction: column;

      h2{
        align-self: center;
      }
  }

  .skills{
    border-bottom: 3px double white; /* 上部に3pxの二重線を黒色で設定 */
      border-right: none; /* 右側の境界線は非表示 */
      border-top: none; /* 下側の境界線は非表示 */
      border-left: none; /* 左側の境界線は非表示 */

      display: flex;
      flex-direction: column;
      padding: 5% 2% 5% 2%;
      width:80%;


      h2{
        align-self: center;
      }

      .skill-info{
        padding: 1% 0 1% 0;
        background-color: rgb(170, 159, 146);
        .notation{
          background-color: rgb(71, 70, 70);
          
          
          p{
            font-size: 12px;
          }
          ul{
            li{
              font-size: 12px;
            }
          }
        }

        .skill-each-container{
          background-color: rgb(71, 70, 70);
          display: flex;
          flex-wrap: wrap;

          @media screen and (max-width:750px){
            display: flex;
            flex-direction:column;
            width:100%;
            padding: 1% 0 1% 0;
          }      
          
        
          .skill-each{
            display: flex;
            flex-direction: column;
            border: solid;
            width:49%;
            height:auto;
            padding-bottom:3%;

            @media screen and (max-width:750px){
              width:100%;
            }
            h3{
              align-self: center;
            }

            .skill-images{
              display: flex;
              flex-direction: row;
              align-items: center;
              justify-content: space-evenly;
              img{
                height: 40px;
              }
            }
          }

        }
      }     
  }
}


//backgorund page
.background-content{
  color:rgb(250, 203, 117);
  margin-left: 5%;
  margin-right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}